@font-face {
  font-family: "AdiHaus";
  src: URL("../fonts/adihaus_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "AdiHaus";
  src: URL("../fonts/adihaus_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
