* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #423A3A;
}

body, html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 1.125rem;
  display: flex;
  justify-content: center;
}

#logo {
  width: 4.438rem;
}

#hero {
  background: center / cover url("./images/model.png");
  width: 100%;
  height: 250px;
}

#headline {
  margin: 1rem 2rem;
  font-size: 2rem;
}

h2 {
  text-align: center;
}

#headline h2:nth-of-type(1){
  letter-spacing: .2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #CD3A24;
}

#message {
  font-weight: 100;
  font-size: .775rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0 2rem;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 2rem 0 4rem;
}

input {
  height: 3rem;
  padding: .5rem 1rem;
  border: 1px solid black;
}

form > input:nth-of-type(1) {
  flex-grow: 2;
  border-right: 0;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
}

form > input:nth-of-type(2) {
  flex-grow: 1;
  border-left: 0;
  border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
  background-color: #333333;
  color: #F2F2F2;
}

label {
  display: none;
}